/* App root variables */
:root {
  /* FONT */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* BOX SHADOW */
  /* ******** POLL APP GLOBAL VARIABLES ********** */
      --poll-box-shadow: rgba(0, 0, 0, 0.097) 0px 11px 15px;
      --primary-color: #6685da;
}

/* Global universal selector App styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}